<% provide(:checkout, "active")%>
<% provide(:title, "Checkout")%>


<div class="main" >  
  <div class ="container">  
    <div class = "col-md-6 col-md-offset-3">

      <h1>Enter Your Data</h1>

      
        
          <%= form_for :user, action:"/checkouts", method:"post" , class: "form-class" do |f| %>
          <%= f.label :name %><br>
          <%= f.text_field :name, style: "width: 80%" %><br><br>

          <%= f.label :email %><br>
          <%= f.email_field :email, style: "width: 80%" %><br><br>

          <%= f.label :number %><br>
          <%= f.text_field :number, style: "width: 80%" %><br><br>

          <%= f.label :address %><br>
          <%= f.text_field :address, style: "width: 80%" %><br><br>

          <%= f.label :country %><br>
          <%= f.text_field :country, style: "width: 80%" %><br><br>

          <%= f.label :city %><br>
          <%= f.text_field :city, style: "width: 80%" %><br><br>

          <%= f.submit "Submit", class: "btn btn-primary", onclick: "myfunction()" %>
          <% end %>
          <p class="message1"></p>
        
      </div>
    </div>
  </div>
</div>

<script>
function myFunction() {
    
    document.getElementById("message1").innerHTML = "Thank you for your feedback";
}
</script>



